@media screen and (min-width: 1920px) and (min-height: 1080px)
  .land
    &__welcome
      // transform: scale(1)
      // transform-origin: left
      // left: 30px

@media screen and (min-width: 2204px) and (min-height: 981px)
  .land
    &__welcome
      transform: scale(1.1)
      transform-origin: left
      left: 100px
    &__players
      transform: scale(1.1)
      transform-origin: right bottom

@media screen and (min-width: 2560px) and (min-height: 1364px)
  .land
    &__welcome
      transform: scale(1.3)
      transform-origin: left bottom
      max-height: 800px
      margin-top: auto
    &__players
      transform: scale(1.4)
